body {
    font-family: 'Roboto', sans-serif;
}

#topo {
    background: red;
    color: white;
    padding: 10px;
}

#banner {
    background-color: gray;
    padding: 50px;
}

.destaques {
    background: orange;
    padding-bottom: 5px;
    border-radius: 20px;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-transform: lowercase;
}


